.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}


.title {
    padding: 5px;
    width: 90%;
    cursor: pointer;
}

.header:hover .button_edit {
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}
.modal_open{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.content_edit {
    display: flex;

}

.button_edit{
    opacity: 0;
    transition: all 0.2s ease;
}

.content {

}

