.header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.editor{
    position: relative;
}
.title{
    padding: 5px;
    margin-left: 5px;
    width: 80%;
    cursor: pointer;

}

.header:hover .content_edit{
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}

.content_edit{
   opacity: 0;
    transition: all 0.2s ease;
}

.content {

}
.button{

    margin-top: 5px;

}