.list_card {
    background-color: var(--card-detail-color);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.title {
    background-color: var(--card-detail-color);
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    margin: 5px;
}

.quick_editor{

    bottom: 0;
    color: #fff;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

}

.quick_editor_input{


}

.content {
display: flex;

}

.footer {
    display: flex;
}
