.board {


}

.board_header {
    margin: 15px;
    font-weight: 500;
    color: rgba(220, 204, 204, 0.67);
    cursor: pointer;
}

.columns {
    display: flex;
}

.wrapper_list {
    margin-top: 5px;
    display: flex;
}

.add_list {
    padding: 5px;
    transition: 0.55s ease-in all;
}

