.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-weight: 500;
    margin: 5px;
    cursor: pointer;

    color: var(--list-header-color)
}

.title_wrapper{
display: flex;
    white-space: nowrap;
}

.context_wrapper{
    z-index: 2;
}