.decision_date {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--decision-date-overdue);
    border-radius: 5px;
    padding: 1px;
    margin: 5px;
}

.decision_date:hover{
    background-color: var(--decision-date-hover);
}

.icon {
    display: flex;
    align-items: center;
}

.date {
    font-size: 1rem;
}