.button{
    display: flex;
    align-items: center;

    padding: 5px;

}

.text{
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: var(--prymary-font);
    font-weight: 200;
    font-size: 1rem;
    color: var(--button-text-color);
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
    background-color:var(--prymary-font) ;
}

.icon{
    display: flex;
    height: 100%;
}

.card_creator:hover {
    background-color: var(--button-hover);
    transition: all 0.3s ease-in-out;
}

.card_creator {
    color: var(--button-text-color);
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}