.button {
    display: flex;
    align-items: center;
    font-family: var(--prymary-font);
    font-weight: 200;
    font-size: 1rem;
    border-radius: 5px;
    transition: all 0.2s ease;
    padding: 5px;
}

.button-text {
    margin: 5px;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.button-icon {
    display: flex;
    height: 100%;
}

.button:hover {
    background-color: var(--button-hover);
    transition: all 0.3s ease-in-out;
}

.card-creator {
    color: var(--button-text-color);

    cursor: pointer;
}