.button_container {
    display: flex;
    align-items: center;
}

.button {
    font-weight: 200;
    font-size: 1rem;
    border-radius: 5px;
    font-family: var(--prymary-font);
    cursor: pointer;
    padding: 10px 14px;
    margin: 5px;
    white-space: nowrap;
}

.text {
    display: flex;
    color: var(--button-text-color);
    transition: all 0.2s ease;
    border: none;
    background-color: var(--prymary-font);
}

.text:hover {
    background-color: var(--button-hover);
    transition: all 0.3s ease-in-out;
}

.outlined {
    display: flex;
    font-family: var(--prymary-font);
    border: 1px solid;
    background-color: inherit;
    color: var(--button-text-color);
}

.outlined:hover {
    border-color: var(--outlined-button-hover);
    box-shadow: 1px 1px 10px 1px inset;
}

.contained {
    display: flex;
    font-family: var(--prymary-font);
    border: none;
    background-color: var(--containet-button-background);
    color: var(--contained-text-color);
}

.contained:hover {
    background-color: var(--containet-button-hover);
}

.submit{
background-color: var(--button-color-submit);
    color: var(--button-submit-label-color);
}

.submit:hover{
    background-color: var(--button-color-submit-hover);
}

.disabled {
    display: flex;
    cursor: auto;
    background-color: var(--disabled-button-background);
    color: var(--disabled-button-color);
    border: none;
    border-radius: 5px;
}

.only_icon {
    padding: 3px;
    font-size: 1rem;
    background-color: inherit;
    border: none;
    cursor: pointer;
}


.label {
    display: flex;
}

.startIcon {
    display: flex;
    width: 20%;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
}

.endIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    transform: scale(1.5);
}

.card_creator {
    color: var(--button-text-color);
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}