@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Ubuntu:ital,wght@0,400;1,300;1,400&display=swap');

:root{
    --header-color: #d5caca;
    --prymary-font: "Ubuntu";
    --button-text-color: #a19797;
    --button-hover: #ffffff;
    --list-wrapper: #ead8d8;
    --button-color: #b6b3b3;
    --outlined-button-hover: #6c6767;
    --containet-button-background: #7e7e7e;
    --containet-button-hover: #605e5e;
}