.header_creator, .header_sample_creator{
    font-size: 0.92rem;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    max-width: 320px;
    cursor: pointer;
}

.header_sample_creator:hover{
    background-color: #d9d3d3;
}

.controller{
    padding: 4px;
}

.title_creator{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 5px;
}

.description{
    display: flex;
    justify-content: left;
    font-size: 0.75rem;
    margin-left: 10px;
}

.footer{
    margin-top: 5px;
}
.hint{
    font-size: 0.95rem;
    color: #253e46;
    margin-right: 35px;
}

.creator{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.control{
    padding: 0 5px 0 15px ;
}