.input {
    border: none;
    outline: none;
    font-family: var(--prymary-font);
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color-input-background);
}

.text {
    background-color: var(--color-input-background);
    display: flex;
    border-radius: 5px;
}

.text_area {
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    font-weight: 300;
    padding: 5px;
    border-radius: 5px;
    /*border: none;*/
    font-family: var(--prymary-font);
    resize: none;
}