.input {
    border: none;
    outline: none;
    font-weight: var(--input-font-weight);
    font-family: var(--prymary-font);
    padding: var(--input-padding);
    margin: var(--input-margin);
    border-radius: var(--input-border-radius);
    background-color: var(--input-background-color);
}

.input_container {
    background-color: var(--input-container-background-color);
    display: flex;
    border-radius: var(--input-container-border-radius);
    margin: var(--input-container-margin);
}

.text_area {
    font-size: 1rem;
    font-weight: var(--textarea-font-weight);
    padding: var(--textarea-padding);
    margin: var(--textarea-margin);
    border: none;
    border-radius: var(--textarea-border-radius);
    font-family: var(--prymary-font);
    resize: none;
}

.label {
    font-size: var(--input-label-font-size);
}


