.input {
    border: none;
    outline: none;
    font-weight: 600;
    font-family: var(--prymary-font);
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: var(--color-input-background);
}


.input_container {
    background-color: var(--color-input-background);
    display: flex;
    border-radius: 5px;
    margin: 5px;
}

.text_area {
    font-size: 1rem;
    font-weight: 500;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-family: var(--prymary-font);
    resize: none;
}

.label {
    margin-left: 10px;
    font-size: 1rem;
}


