.card_modal_wrapper {
    background-color: var(--card-modal-background-color);
    padding: 10px 10px 20px 20px;
    border-radius: 5px;
    width: 35vw;
    color: var(--card-modal-text-color);
    font: var(--prymary-font);
}

.date_wrapper {
    margin-top: 10px;
}

.checklists_wrapper {
    overflow-y: auto;
    height: 50vh;
}

.checklists_wrapper::-webkit-scrollbar {
    width: 5px;
}

.checklists_wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}

.checklists_wrapper::-webkit-scrollbar-thumb {
    background-color: #bdbaba;
    border-radius: 10px;
    margin: 2px;
}

.title_column {
    font-size: 0.9rem;
    margin: 0px 20px 0 25px;
}




