.card_modal_wrapper {
    background-color: white;
    padding: 20px;
    border-radius: 5px;

}

.description_wrapper{
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
}

.description_title{
    padding: 0 10px 0 10px;
    margin: 5px;

}

.icons{
    transform: scale(1.3);
   color: #020833
}

.title_wrapper {
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
}

.title {
    padding: 0 10px 0 10px;
    margin: 5px;
    display: flex;

}

.title_column {
    font-size: 0.9rem;
    margin: 0px 20px 0 30px ;
}


.checkbox_title_wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.checkbox_title {
    padding: 0 10px 0 10px;
    margin: 5px;
}
