.card_creator {
    display: flex;
    align-items: center;
    margin: 0 5px;

}

.control_creator {
    padding-top: 0;
}

.control_input {
background-color: #ffffff;
    border-radius: 5px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.add_btn {

}

.close_btn {

}