.list_card {
    background-color: var(--card-background-color);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;

}

.title {
    position: relative;
    cursor: pointer;
    background-color: var(--card-detail-color);
    display: flex;
    margin: 5px;
    font-size: var(--list-card-font-size);
}



.quick_editor {
    bottom: 0;
    color: #fff;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.quick_editor_input {

}

.content_edit {
    position: absolute;
    right: 0;
}

.content {
    display: flex;
    max-width: 85%;
}

.footer {
    display: flex;
}
