.main {
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url("https://images.wallpaperscraft.ru/image/single/gory_skaly_vershiny_151531_1920x1080.jpg");
    background-size: auto;
    font-size: var(--main-font-size);
    min-height: 100vh;
}

.header_main {
    font-family: var(--prymary-font);
}

.work_space {
    display: flex;
    padding: 5px;
}
