.checkList_wrapper {
    color: #172b4d;
}

.checkbox {
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.checkbox_content{
    display: flex;
    width: 90%;
    align-items: center;
    cursor: pointer;
}

.checkbox_title_none {
    cursor: pointer;
    display: flex;
    opacity: 0.7;
    text-decoration: line-through;
}

.checkbox_title_done {
    cursor: pointer;
    width: 90%;
}

.checkbox:hover {
    background-color: rgba(0, 0, 0, 0.11);
}

.checkbox:hover .delete_btn {
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}

.delete_btn{
    opacity: 0;
}


.delete_btn_wrapper{
    display: flex;
    justify-content: right;
    cursor: pointer;
}


