.menu {


}

.menu.-active .menu__list {
    transform: scale(1);
}

.menu__list {

    transform: scale(0);
}

.replace{
    transform: scale(1);
}

.outside_wrapper{

}


.external{

}

.externalClose{
    display: none;
}