.list_card {
    background-color: var(--card-detail-color);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.title {
    background-color: var(--card-detail-color);
    font-size: 1rem;
    display: flex;
}
