.list_card {
    background-color: var(--card-detail-color);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.title {
    background-color: var(--card-detail-color);
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    margin: 5px;
}

.content {

}

.footer {
    display: flex;
}
