.context_menu {
    background-color: var(--list-context-menu-background);
    position: absolute;
    border: solid 1px #9a9898;
    border-radius: 5px;
    padding: 5px;
    color: var(--list-context-color);
}

.context_header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  5px;
    white-space: nowrap;
}

.context_form{
    z-index: 2;
    background-color: rgba(12, 117, 93, 0.36);
}