.context_menu {
    background-color: var(--list-context-menu-background);
    position: absolute;
    border: solid 1px #9a9898;
    border-radius: 5px;
    padding: 5px;
    color: var(--list-context-color);
}

.context_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    white-space: nowrap;
}

.context_form {

}

.ul {
    padding-right: 10px;
    white-space: nowrap;
    list-style-type: none;
    padding-inline-start: 0;
    margin-right: 5px;
}

.li {
    margin: 5px;
    cursor: pointer;
    border-radius: var(--li-context-menu-border-radius);
    font-family: var(--prymary-font);
    padding: var(--li-context-menu-padding);
    width: var(--li-context-menu-width);
    color: var(--li-context-menu-color);
}

.li:hover {
    background-color: var(--li-context-menu-background-color);
}

