.menu {
}

.menu.-active .menu__list {
    transform: scale(1);
}

.menu__list {

    transition: 0.25s ease all;
    transform: scale(0);
}

.replace{

    transition: 0.25s ease all;
    transform: scale(1);
}

.outside_wrapper{
    z-index: 2;
}


.external{

}

.externalClose{
    display: none;
}