 .wrapper{
    max-height: 100%;
    background: rgba(0, 0, 0, 0);
    margin: 0 4px;
}

.list_wrapper {
    margin: 0 5px;
    padding:  5px;
    font-size: var(--list-wrapper-font-size);
    width: 25vh;
    background-color: var(--list-wrapper);
    border-radius: 5px;
}

.cards_wrapper{
    padding: 0;
    overflow-y: auto;
    max-height: 69vh;
}

.cards_wrapper::-webkit-scrollbar{
    width: 5px;
}

.cards_wrapper::-webkit-scrollbar-track{
    background-color: transparent;
}

.cards_wrapper::-webkit-scrollbar-thumb{
   background-color: #bdbaba;
    border-radius: 10px;
    margin: 2px;
}
