.select_group {}

.select:focus {
    box-shadow: var(--select-box-shadow);
}

.label{
    margin: var(--select-label-margin);
}
.select::-ms-expand {
    display: none;
}

.dropdown {
    border-radius: var(--dropdown-border-radius);
    position: relative;
}

.dropdown_list {
    position: absolute;
    z-index: 1;
    top: 28px;
    width: 100%;
    overflow: hidden;
    padding-left: 0;
    border-radius: var(--dropdown-border-radius);
    box-shadow: var(--dropdown-list-box-shadow);
    background: var(--dropdown-list-background);
}

.dropdown_list_item {
    margin: var(--dropdown-list-item-margin);
    padding: var(--dropdown-list-item-padding);
    border: var(--dropdown-list-item-border);
    list-style-type: none;
    border-bottom: 0;
    cursor: pointer;
}

.dropdown_list_item:hover {
    background-color: grey;
}

.dropdown_list_item:first-child {
    border-radius: var(--dropdown-list-item-first-border-radius);
}

.dropdown_list_item:last-child {
    border-radius: var(--dropdown-list-item-last-border-radius);
}
