.checkout {
    background-color: var(--card-checkout-background-color);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: var(--card-checkout-border-radius);
    padding: var(--card-checkout-padding);
    margin: var(--card-checkout-margin);
}

.checkout_active {

}

.icon {
    display: flex;
    align-items: center;
}

.tasks {
    font-size: var(--checkout-font-size)
}