@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Ubuntu:ital,wght@0,400;1,300;1,400&display=swap');

:root {
    --header-color: #afa1a1;
    --prymary-font: "Ubuntu";
    --button-text-color: #7e7878;
    --button-hover: #ffffff;
    --list-wrapper: #ead8d8;
    --button-color: #b6b3b3;
    --outlined-button-hover: #6c6767;
    --containet-button-background: #7e7e7e;
    --contained-text-color: #efe4e4;
    --containet-button-hover: #605e5e;
    --disabled-button-background: #e0c6c6;
    --disabled-button-color: #8a8282;
    --card-detail-color: white;
    --content_edit_opacity: 100%;
    --list-header-color: #020231;
    --end-icon-color: #545459;
    --checkout-color: #83f39a;
    --decision-date-overdue: #ecafaf;
    --decision-date-hover: #d39191;
    --menu-color: #b9b2b2;
    --button-color-submit: #16c716;
    --button-text-color-submit: #038303;
    --button-color-submit-hover: #276727;
    --button-submit-background-color: #098109;
    --button-background-submit-hover: #034203;
    --button-submit-label-color: #e7d8d8;
    --error-button-border-color: #ef0000;
    --error-button-text-color: #c20404;
    --error-button-background-color: rgb(168, 4, 4);
    --error-button-background-hover: #640303;
    --error-button-label-color: #ff2828;
    --error-button-label-hover: red;
    --only-icon-background-hover: rgba(201, 187, 187, 0.45);
    --only-icon-changed-color: #3a199d;
    --transition-icons: all 0.3s ease-in-out;
    --button-border-radius: 5px;

    --color-input-background: #ffffff;
    --color-input-text: black;
    --background-input-disabled: #afa1a1;
    --color-input-disabled: grey;

    --modal-background-color: rgba(2, 2, 2, 0.37);
    --modal-card-background-color: white;

    --checkbox-container-background-color: white;
    --checkbox-container-background-color-hover: #cbbaba;
    --checkbox-color: green;
    --checkbox-border-radius: 5px;
    --color-checkbox-disabled: #989191;
}
