.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 12%;
    padding: 10px 10px 5px  5px;
    width: 95%;

}



.title_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.context_wrapper {
z-index: 3;
}