.checkbox_container {
    padding: 5px;
    font-family: var(--prymary-font);
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--checkbox-border-radius);
    margin: 5px;
}

.disabled {
    pointer-events: none;
    color: var(--color-checkbox-disabled)
}

.checkbox_container:hover {

}

.checkbox_container.text {
    background-color: initial;
}

.checkbox_container.text:hover {
    text-shadow: 1px 1px 2px  var(--checkbox-color);
}

.checkbox_container.contained {
    background-color: var(--checkbox-container-background-color);
}

.checkbox_container.contained:hover {
    background-color: var(--checkbox-container-background-color-hover);
}

.checkbox_container.outlined {
    border: solid 1px;
    color: var(--checkbox-outlined-color)
}

.checkbox_container.outlined:hover {
    box-shadow: 1px 1px 10px 1px inset;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
}

.checkbox_label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    margin: 5px;
    transform: scale(1.3);
}