.add_list_wrapper {
    background-color: var(--list-creator-background);
    padding: 5px;
    border-radius: 5px;
}

.list_add_controls {
    display: flex;
    padding-top: 5px;
    justify-content: space-between;
}

